<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row">
  			<%- body %>
  		</div>
  	</div>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
